/*----------------------------------------------------*/
/*ORIGINAL*/
/*htmlhelpで使用できるのが　IE7準拠となる*/
/*----------------------------------------------------*/
body{
	/*width:662px;*/
	padding:10px;
	margin:0;
	margin-bottom:2em;
	font-size: 10pt;
	color:#333;
	font-family: "Hiragino Kaku Gothic ProN","Meiryo UI", sans-serif;
	font-style:normal;
	line-height:1.3;
	word-break : break-all;
}

div,p,a,th,td,li,strong,span{
	font-size: 10pt;
}

a{
	/*word-wrap: break-word;*/
	/*padding-right:0.5em;*/
}

a img{
	border:0px;
}


a:hover img{
	filter: alpha(opacity=60);
	-moz-opacity:0.60;
	opacity:0.60;
}

sup{
	vertical-align: top;
}

sub{
	vertical-align: bottom;
	padding:0.2em;
}

/*----------------------------------------------------*/
/*table */
table{
	border-collapse:collapse;
	border-left:2px solid #fff;
	border-right:2px solid #fff;
	border-top: 2px solid #333;
	border-bottom: 2px solid #333;
}

th,
td {
	/*border: 1px solid #666;*/
	border-width:1px;
	border-color:#666 #666 #666 #666;
}

th{
	text-align:center !important;
	font-weight:bold;
}

tr.fonttype_head td,
td.fonttype_head{
	font-weight:bold;
}

th,
td,
th p,
td p{
	word-wrap : break-word;
	overflow-wrap : break-word;
}

table tr th,
table tr td.bgcolor_black30,
table tr td.bgcolor_standardgray,
table tr.bgcolor_black30,
table tr.bgcolor_standardgray{
	background-color:#c9c9ca;
}

table tr td.bgcolor_black15,
table tr td.bgcolor_lightgray,
table tr.bgcolor_black15,
table tr.bgcolor_lightgray{
	background-color:#e4e4e4;
}

table tr td.bgcolor_yellow,
table tr.bgcolor_yellow{
	background-color:#ffff7e;
}

.tablenoborder{
	margin: 1em 0 1em 0;
	padding-left:52.52pt;
}

/*div .tablenoborder,*/
p .tablenoborder,
ul .tablenoborder,
ol .tablenoborder,
table .tablenoborder{
	margin-left:0pt;
	padding-left:0;
}


.tablenoborder table{
	/*width:92%;*/
	width:auto;
	margin-left:0;
	/*margin-left:42.52pt;*/
}

li .tablenoborder table{
	margin-left:0pt;
}

span.tablecap{
	margin-left:52.52pt;
	/*margin-left:42.52pt;*/
}

.p span.tablecap{
	margin-left:0pt !important;
}

/* ローテーション出来ず…。
table .rotate_right th{
	-moz-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	width:100px;
	height:100px;
}*/

/*特殊テーブル*/
div.tableborder table{
	width:90%;
	border:1px solid #666;
	/*margin-left:42.52pt;*/
	margin-left:52.52pt;
	margin-bottom:5px;
}

p div.tableborder,
ol div.tableborder,
ul div.tableborder{
	width:100%;
	margin-left:0;
}

div.tableborder table th,
div.tableborder table td{
	padding-left:5px;
}

table.frame_thin{
	border-width:1px;
	border-color:#666 #666 #666 #666;
}

div.tableborder table.no-line{
	border-color: #666;
    border-style: solid;
    border-width: 1px;
}


/*table の線 td*/
table tr td.cellrowborder {
	border-width: medium 1px 1px medium;
	border-style: none solid solid none;
	border-color:#fff #666 #666 #fff;
}
/*
table.frame_thin tr td.cellrowborder {
	border-style: none none none none;
}*/
table tr td.row-nocellborder{
	/*border-style: none hidden solid hidden; 2018-07-12 : del*/
	border-style: none hidden solid none;
	border-color:#fff #fff #666 #fff;
}
table tr td.cell-norowborder {
	border-style: none solid hidden none;
	border-color:#fff #666 #fff #fff;
}
table tr td.nocellnorowborder {
	border-style: none hidden hidden hidden;
	border-color:#fff #fff #fff #fff;
}

/*table の線 th*/
table tr th.cellrowborder {
	border-width: medium 1px 1px medium;
	border-style: none solid solid none !important;
	border-color:#c9c9ca #666 #666 #c9c9ca;
}
table tr th.row-nocellborder{
	/*2017/01/31  by Hori ''*/
	border-style: none hidden solid none;
	border-color:#c9c9ca #c9c9ca #666 #c9c9ca;
}
table tr th.cell-norowborder {
	border-style: none solid hidden none;
	border-color:#c9c9ca #666 #c9c9ca #c9c9ca;
}
table tr th.nocellnorowborder {
	border-style: none hidden hidden none;
	border-color:#c9c9ca #c9c9ca #c9c9ca #c9c9ca;
}

table table{
	margin-left:0;
}

table.tablewidth_left{
	width:100%;
	margin-left:0;
}
.tablenoborder table.tablewidth_left{
	/*width:100%;*/
	/*margin-left:0;*/
	width:auto;
	margin-left:-52.52pt;
}

table.no-line tr th,
table.no-line tr td,
table.no-line tr td.cellrowborder,
table.no-line{
	border-width:0 0 0 0;
	border:0px;
	padding:0 2px;/*2019/08/27 引っ付き過ぎているので直した*/
}

div.tableborder table.no-line{
	border-color: #666;
    border-style: solid;
    border-width: 1px;
}

table.no-line table th,
table.no-line table td{
	/*border: 1px solid #666;*/
}

table.all-line{
	border: 1px solid #666;
}


/*----------------------------------------------------*/
/*header*/
h1{
	padding:0.3em;
	/*font-style: italic;*/
}

h1,
.layer02 h1{
	font-size:18pt;
	margin: 22pt 0 11pt;
	padding-left:90px;
	background:url(image/icon-h1.gif) no-repeat left bottom;
	/*color: #23529f;*/
}
h1 span,
.layer02 h1.span{
	font-size:18pt;
}

.layer01 h1{
	background:url(image/icon-h0.gif) no-repeat left bottom;
	padding-bottom:0.5em;
	padding-left:10px;
}

h2,
.layer02 h2,
.layer03 h1{
	background-image : none;
	background-color:#c9c9ca;
	padding:0.3em;
	padding-left:1em;
	font-size: 13pt;
	margin: 22pt 0 11pt;
}
h2 span,
.layer02 h2 span,
.layer03 h1 span{
	font-size: 13pt;
}

p,
p.p,
div.p,
.layer02 p,
.layer03 p,
.layer04 p{
	margin: 1em 0 0.4em 0;
	margin-left:52.52pt;
	/*margin-left:42.52pt;*/
}
li div.p,
div.p table{
	margin-left:0pt;
}

/*----------------------------------------------------*/
/*2018-04-04 影響がないか検証必要*/
div.p ol,
div.p ul{
	margin-left:-20pt;
}
li div.p ol,
li div.p ul{
	margin-left:0pt;
}
div.p * ol,
div.p * ul{
	margin-left:5pt;
}
div.p div.note,
div.p div.tablenoborder{
	padding-left:0;
}
/*----------------------------------------------------*/


ol.indent_extra1,
ul.indent_extra1,
p.indent_extra1{
	margin-left:72.52pt !important;
}

/*----------------------------------------------------*/

li{
	margin-top:0.5em;
}

li p,
li p.p{
	margin:0 0 0.3em 0 !important;
}

.layer03 h2,
.layer04 h1{
	background-image : none;
	background-color:#fff;
	font-size: 12pt;
	font-weight: bold;
	letter-spacing: 0;
	margin:1.5em 0 11pt 18pt;
	padding:0.3em 0 0.2em 1em;
	border-left:8px solid #333;
	border-bottom:1px solid #333;
}

.layer03 h2 span,
.layer04 h1 span{
	font-size: 12pt;
}

.layer05 p{
	margin: 0 0 0.4em 0;
	margin-left:52.52pt;
	/*margin-left:42.52pt;*/
}

.layer04 h2,
.layer05 h1{
	background-image : none;
	background-color : #fff;
	font-size: 12pt;
	padding-left:1em;
	padding-bottom:0;
	background:url(image/icon-h3.gif) no-repeat left 8px;
	margin: 10pt 0 10pt 42.52pt;
	border:none;
}
.layer04 h2 span,
.layer05 h1 span{
	font-size: 12pt;
}

/*----------------------------------------------------*/

.related-links{
	display:none;
}

div.layer01 .related-links{
	display:block;
}

/*----------------------------------------------------*/
.note {
	margin:1.5em 0 0.5em;
	padding:0;
	padding-left:70.52px;
	/*border:1px solid #f00;*/
}
li .note,
div.itemgroup .note {
	padding-left:0;
}


.note div.safety,
.note div.use,
.note div.memo,
.note div.ver,
.note div.refer{
	padding:0px 0 1em 50px !important;
	margin:0em 0 1em 0pt;
	overflow:hidden;
	width:93%;
	/*position:relative;*/
	/*border:1px solid #00f;*/
	
}

li .note div.safety,
li .note div.use,
li .note div.memo,
li .note div.ver,
li .note div.refer{
	margin-left:0em;
}
.example .note div.safety,
.example .note div.use,
.example .note div.memo,
.example .note div.ver,
.example .note div.refer{
	margin-left:0.5em;
}


.note div.safety{
	background:url(image/note_safety_bottom.gif) no-repeat left bottom;
}
.note div.use{
	background:url(image/note_use_bottom.gif) no-repeat left bottom;
	
}
.note div.memo{
	background:url(image/note_memo_bottom.gif) no-repeat left bottom;
}

.note div.ver{
	background:url(image/note_ver_bottom.gif) no-repeat left bottom;
}
.note div.refer {
	background:url(image/note_refer_bottom.gif) no-repeat left bottom;
}



.endline_no div.safety,
.endline_no div.use,
.endline_no div.memo,
.endline_no div.ver,
.endline_no div.refer{
	background:none;
}

.note div.safety span.notetitle,
.note div.use span.notetitle,
.note div.memo span.notetitle,
.note div.ver span.notetitle,
.note div.refer span.notetitle {
	display:block;
	height:40px;
	margin:0;
	margin-left:-50px;
	width:130%;
	font-size:1px;
	color:#fff;
	/*border:1px solid #f00;*/
}


.note div.safety span.notetitle{
	background:url(image/note_safety.gif) no-repeat left top;
}
.note div.use span.notetitle{
	background:url(image/note_use.gif) no-repeat left top;
}
.note div.memo span.notetitle{
	background:url(image/note_memo.gif) no-repeat left top;
}
.note div.ver span.notetitle{
	background:url(image/note_ver.gif) no-repeat left top;
}
.note div.refer span.notetitle{
	background:url(image/note_refer.gif) no-repeat left top;
}

.note div.safety p,
.note div.use p,
.note div.memo p,
.note div.ver p,
.note div.refer p{
	padding-left:0px;
}

.note div.safety img,
.note div.use img,
.note div.memo img,
.note div.ver img,
.note div.refer img{
	margin-left:0px;
}

.note div.safety li img,
.note div.use li img,
.note div.memo li img,
.note div.ver li img,
.note div.refer li img{
	margin-left:0px;
}

.note table,
.note ol,
.note ul,
.note p{
	margin-top:0;
	margin-left:0;
}

.note li .tablenoborder table{
	margin-left:0px;
}


.note ol,
.note ul{
	margin-left:5px;
	padding-left:20px;
}
.note div.p ol,
.note div.p ul{
	padding-left:2.5em;
}


.note ol ol,
.note ol ul,
.note ul ol,
.note ul ul{
	padding-left:1.5em;
}


.note ol p,
.note ul p{
	padding-left:0px !important;
}

.note .tablenoborder{
	padding-left:0;
	
}
.note .tablenoborder image,
.note .tablenoborder table,
.note table p{
	margin-left:0em;
}

.caution {
	font-weight:normal;
}


/*タイトルのみ*/
.mark_boxtitle{
	background:none;
}

/*フルボックス*/
.mark_boxtb{
	margin-left:42.52pt;
}
.mark_boxtb div{
	background:none;
	border:1px solid #666;
	padding:0;
}
/*タイトル左寄せ*/
.mark_boxlr{
	margin-left:42.52pt;
}
.mark_boxlr div{
	background:none;
	border:1px solid #666;
	padding:0;
	display:table;
	position:static;
	*background:none;
	*border:1px solid #666;
	*padding:0;
	*padding:0;
	*display:block;
	*position:none;
}

.cautiontitle,
.mark_boxtitle span.warningtitle,
.mark_boxtb span.warningtitle{
	background:none;
	background-color:#000;
	color:#fff;
	display: block;
	height:1em;
	width:100%;
	text-align:center;
	font-size: 16px;
	margin: 0 0 0 0;
	padding: 0.5em 0;
	position:static;
}

.mark_boxlr span.cautiontitle,
.mark_boxlr span.warningtitle{
	background:none;
	background-color:#000;
	color:#fff;
	display:table-cell;
	text-align:center;
	font-size: 16px;
	width:5em;
	vertical-align:middle;
	padding: 0.5em 1em;
	position:static;

	*background:none;
	*background-color:#000;
	*color:#fff;
	*display: block;
	*height:1em;
	*width:100%;
	*text-align:center;
	*font-size: 16px;
	*margin: 0 0 0 0;
	*padding: 0.5em 0;
	*position:static;
}
.mark_boxlr p{
	display:table-cell;
	padding: 0.5em 1em;
	
}

.mark_boxtb div{
	margin: 0;
	padding: 0;
}
.mark_boxtb span.cautiontitle{
	margin:0;
}

.mark_boxtitle img,
.mark_boxtb img,
.mark_boxlr img,
.mark_boxtitle ol,
.mark_boxtb ol,
.mark_boxlr ol,
.mark_boxtitle ul,
.mark_boxtb ul,
.mark_boxlr ul,
.mark_boxtitle p,
.mark_boxtb p,
.mark_boxlr p{
	margin:0.5em;
}


.cautiontitle{
	margin: 1.5em 0 -1.3em 42.52pt;
	width:auto;
}

/*2018-07-12 : Hiroshi Hori A-Holic,LLC WARNINGのレイアウト調整*/
div.other,
div.warning,
div.caution{
	min-height:100px;
	border:1px solid #666;
	margin: 1.5em 1em 0em 42.52pt;
	width:auto;
	padding:0;
}
div.other span.othertitle,
div.warning span.warningtitle,
div.caution span.cautiontitle{
	background:none;
	background-color:#000;
	color:#fff;
	display: block;
	/*height:2em;*/
	text-align:center;
	font-size: 16px;
	font-weight:bold;
	padding:0.4em 0;
	margin:0;
	position:none;
}
div.other span.othertitle{
	background-color:#eee;
	color:#000;
	border-bottom:1px solid #666;
}
div.other img.icon,
div.warning img.icon,
div.caution img.icon{
	float:right;
	margin:0.8em 1em 0;
}

div.other p,
div.warning p,
div.caution p{
	margin:0.5em 1em;
}

div.other div.other,
div.warning div.warning,
div.caution div.caution{
	min-height:auto;
	border:none;
	margin:0;
	width:auto;
	padding:0;
}


/*----------------------------------------------------*/
a.xref{
	margin-left:0.2em;
	margin-right:0.4em;

}

/*----------------------------------------------------*/
/* dl要素 */
dl{
	margin-left:52.52pt;
}
dt{
	margin-left:0;
	margin:1em 0 0.2em;
}
dd{
	margin-left:0;
}
dt p.p,
dd p.p{
	margin-left:25pt;
}

/*----------------------------------------------------*/
.taskbody{
	margin:0;
	padding:0;
}


ol,
ul{
	margin-left:32.52pt;
	/*margin-left:60px;*/
	*zoom:1;
	*padding-left:3em;
}

ol ul,
ol ol,
ul ul,
ul ol{
	margin-left:0;
	padding-left:1.8em;
}


ol.steps li{
	font-size: 14pt;
	font-style:italic;
	font-weight:bold;
}

ol.steps li p,
ol.steps li li,
ol.steps li span.cmd,
ol.steps li div.stepresult{
	font-size: 10pt;
	font-weight:normal;
	font-style:normal;
}


ol.steps li span.cmd{
	font-weight:bold;
}

ol.steps li span.cmd br{
	display:block;
}


img{
	margin-left:42.52pt;
	margin-left:52.52pt;
	padding:0 0.5em;
	display:block;
}

/*
play:block;
}*/

.example{
	margin-left:42.52pt;
}

table img,
div.note img,
div.fn img,
li img,
p img{
	margin-left:0;
	display:inline;
}

img.icon{
	float:left;
	padding-bottom:15px;
}



dfn img{
	padding:0;
	margin:0;
	*margin-left:-1px;
}


.imagecenter img{
	margin:5px auto;
}

.layer02 table p,
.layer03 table p,
.layer04 table p,
.layer05 table p,
table p.p,
table p{
	margin:0 0.2em 0.4em;
}
.layer02 table ul,
.layer03 table ul,
.layer04 table ul,
.layer05 table ul,
.layer02 table ol,
.layer03 table ol,
.layer04 table ol,
.layer05 table ol,
table ul,
table ol{
	margin:0;
	padding:0;
	padding-left:1em;
	*padding-left:1.5em;
	margin-left:0.3em;
}
.layer02 table li,
.layer03 table li,
.layer04 table li,
.layer05 table li,
table li{
	padding:0;
	margin-top:0;
	margin-bottom:0.3em;
}
.layer02 table div,
.layer03 table div,
.layer04 table div,
.layer05 table div,
table div.p,
table div{
	margin:0 0.2em 0.4em;
}
table div.p ol,
table div.p ul {
    margin-left: 0pt;
}


/*----------------------------------------------------*/
/*行間空け*/
li p.linespace_7pt,
p.linespace_7pt{
	margin-top:1em !important;
}
li p.linespace_14pt,
p.linespace_14pt{
	margin-top:2em !important;
}
li p.linespace_28pt,
p.linespace_28pt{
	margin-top:4em !important;
}


/*----------------------------------------------------*/
/*特殊なlist要素*/
/*2018-04-04*/
li ul{
	list-style:disc;
}
li ol{
	list-style:decimal;
}



/*2018-04-04 ul,ol両対応*/
ol.liststyle_asterisk1,
ul.liststyle_asterisk1{
	margin-top:0em;
	padding-top:0;
	margin-left: 42.52pt;
}
td ol.liststyle_asterisk1,
td ul.liststyle_asterisk1{
	margin-left:1em;
}

ol.liststyle_asterisk1 li,
ul.liststyle_asterisk1 li{
	list-style:none;
	/*list-style:decimal;*/
	/*margin-top:-1em;*/
	/*margin-left:32.52pt;*/
	margin-left:10pt;
	font-size:9pt;
	text-indent:-2em;
}

/*
ol.liststyle_asterisk1 li:before ,
ul.liststyle_asterisk1 li:before {
	content:"*\a0\a0\a0\a0\a0";
	margin-left:-2.3em;
}
*/
ol.liststyle_asterisk1 li li,
ul.liststyle_asterisk1 li li{
	list-style:disc;
	text-indent:0;
}


ol.liststyle_asterisk1 li p,
ul.liststyle_asterisk1 li p{
	display:inline;
}
ol.liststyle_asterisk1 li li:before,
ul.liststyle_asterisk1 li li:before{
	content:none;
	margin-left:0;
}
/**/
ol.choicestyle_alphabet1 li,
ul.choicestyle_alphabet1 li,
ol.liststyle_alphabet1 li,
ul.liststyle_alphabet1 li{
	margin-left:10pt;
	list-style:lower-alpha;
}
ol.choicestyle_alphabet1 li li,
ul.choicestyle_alphabet1 li li,
ol.liststyle_alphabet1 li li,
ul.liststyle_alphabet1 li li{
	list-style:disc;
	text-indent:0;
}
/**/
ol.liststyle_annotation1 li,
ul.liststyle_annotation1 li{
	/*list-style:decimal;*/
	list-style:none;
	margin-left:0pt;
	font-size:9pt;
	text-indent:-2.2em;
}
/*
ol.liststyle_annotation1 li:before ,
ul.liststyle_annotation1 li:before {
	content:"（注）\a0\a0\a0\a0\a0";
	margin-left:-5em;
}
*/

ol.liststyle_annotation1 li li,
ul.liststyle_annotation1 li li{
	list-style:disc;
	text-indent:0;
}

ol.liststyle_annotation1 li p,
ul.liststyle_annotation1 li p{
	display:inline;
}
ol.liststyle_annotation1 li li:before,
ul.liststyle_annotation1 li li:before{
	content:none;
	margin-left:0;
}


/*----------------------------------------------------*/
/*フォント指定　一部OT側で文字置換*/
dfn{
	font-style:normal;
}

p.font_Symbol,
dfn.font_Symbol{
	font-family:'Symbol';
	font-style:normal;
}

p.font_Wingdings,
dfn.font_Wingdings{
	font-family:'Wingdings';
	font-style:normal;
}

span.font_MSgothic{
	font-family:'MSゴシック','MSgothic';
}

pre.codeblock{
	margin-left:42.52pt;
}

/*仮処理*/
div.ms{
	font-family:'MSgothic';
	font-style:normal;
}
div.ms p{
	margin-top:0.5em;
	margin-bottom:0em;
}

/*
dfn.font_Wingdings2{
	font-family:'Wingdings 2';
	font-style:normal;
}
dfn.font_Wingdings3{
	font-family:'Wingdings 3';
}
*/


/*----------------------------------------------------*/
/* Footnote */

div.tabledesc{
	margin-left: 45pt;
	margin-bottom:2em;
	font-size:90%;
	width:90%;
}
.tablenoborder div.tabledesc{
	margin-left: 0pt;
}

div.tabledesc div.p,
div.tabledesc p{
	display:inline;
}
/* 2020-05-13 add */
div.tabledesc div.indent_extra1,
div.tabledesc p.indent_extra1{
	display:block;
	margin:0;
	margin-left:0em !important;
}

div.tabledesc div.p{
	margin-left:0;
}

div.tabledesc div.fn{
	margin-top:0.5em;
	/*position:relative;*/
	padding-top:0;
	padding-bottom:4px;
}

div.tabledesc div.fn a{
	/*position:absolute;*/
	/*left:-2em;*/
}

div.tabledesc div.fn div.p,
div.tabledesc div.fn p{
	top:0;
}

div.tabledesc div.fn p a{
	/*position:relative;
	left:0;*/
}
/*div.tabledesc div.fn a:first-child{
	display:block;
	margin-left:-2em;
	position:relative;
	top:5px;
	height:5px;
}*/

div.tabledesc div.fn ul,
div.tabledesc div.fn ol{
	margin:0;
}


div.tabledesc ol.liststyle_asterisk1,
div.tabledesc ul.liststyle_asterisk1,
div.tabledesc ul,
div.tabledesc p {
	margin-left:0em;
}

/*2018-04-04 : margin変更で 3emから0emに変更*/
div.p div.tabledesc{
	margin-left:0em;
}


/*----------------------------------------------------
.fn{
	margin-left:3em;
}
.fn a{
	padding-right:0em;
	display:block;
	margin-top:-5px;
}

.fn a sup{
	display:block;
}


.fn a sup:before {
	content:"*";
}
.fn p{
	margin-left:0em;
	margin-top:0;
}
*/

span.indexterm{
	border:1px solid #888;
	padding:2px 8px;
	margin:5px 0;
	background-color:#FFE4B5;
	font-size:10px;
	display:none;
}

/*----------------------------------------------------*/

#modal{
	position:absolute;
	max-width:30%;
	left:25%;
	top:0;
	border:1px
	solid
	#333;
	background-color:#efefef;
	padding:1em;
	display:none;"
}

#modal div,
#modal ul,
#modal ol,
#modal table,
#modal p{
	margin:0 0 0 0 !important;
}



/*
#modaloverlay{
	background-color:#000;
	filter: alpha(opacity=60);
	-moz-opacity:0.60;
	opacity:0.60;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	height:1000px;
	z-index: 100;
	display:none;
}
p.modal-close{
	text-align:right;
	padding:0;
	margin:0;
}
p.modal-close img{
	cursor:pointer;
}
p.modal-close img:hover{
	filter: alpha(opacity=60);
	-moz-opacity:0.60;
	opacity:0.60;
}
*/
