/*----------------------------------------------------*/
/*ORIGINAL*/
/*htmlhelpÇ≈égópÇ≈Ç´ÇÈÇÃÇ™Å@IE7èÄãíÇ∆Ç»ÇÈ*/
/*----------------------------------------------------*/
/*h1,
.layer02 h1{
	font-size:18pt;
	margin: 22pt 0 11pt;
	padding-left:90px;
	background:url(image/icon-h1.gif) no-repeat left bottom;
}

.layer01 h1{
	background:url(image/icon-h0.gif) no-repeat left bottom;
	padding-bottom:0.5em;
	padding-left:10px;
}*/


/*----------------------------------------------------*/

.layer04 h2,
.layer05 h1{
	background-image : none;
	font-size: 12pt;
	padding-left:1em;
	background:url(image/icon-h3.gif) no-repeat left 8px;
	margin: 10pt 0 11pt 42.52pt;
}

/*----------------------------------------------------*/

/*----------------------------------------------------

.note .safety{
	background:url(image/note_safety_bottom.gif) no-repeat left bottom;
}
.note .use{
	background:url(image/note_use_bottom.gif) no-repeat left bottom;
}
.note .memo{
	background:url(image/note_memo_bottom.gif) no-repeat left bottom;
}
.note .ver{
	background:url(image/note_ver_bottom.gif) no-repeat left bottom;
}
.note .refer {
	background:url(image/note_refer_bottom.gif) no-repeat left bottom;
}
*/

.note div.safety span.notetitle{
	background:url(image/note_safety_en.gif) no-repeat left top;
}
.note div.use span.notetitle{
	background:url(image/note_use_en.gif) no-repeat left top;
}
.note div.memo span.notetitle{
	background:url(image/note_memo_en.gif) no-repeat left top;
}
.note div.ver span.notetitle{
	background:url(image/note_ver_en.gif) no-repeat left top;
}
.note div.refer span.notetitle{
	background:url(image/note_refer_en.gif) no-repeat left top;
}

